<nav class="navbar" [class.scrolled]="isScrolled">
  
  <div class="navbar-brand" routerLink="/" style="cursor: pointer;">
    <img src="images/logo.webp" alt="Logo" class="logo" />
    <span class="brand-name">MilSa</span>
  </div>

  <div class="navbar-links desktop-only">
    
    <a routerLink="/" class="nav-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <span class="icon">🏠</span> Accueil
    </a>
    
    <a routerLink="/boutique" class="nav-link" routerLinkActive="active-link" >
      <span class="icon">🛍️</span> Boutique
    </a>
<!-- <a routerLink="/boutique" class="nav-link" [class.disabled]="true" > <span class="icon">🛍️</span> Boutique </a> -->


    <a (click)="scrollToSection('apropos')" class="nav-link" style="cursor: pointer;">
      <span class="icon">⚜️</span> À propos
    </a>
    <a (click)="scrollToSection('contact')" class="nav-link" style="cursor: pointer;">
      <span class="icon">✉️</span> Contact
    </a>
  </div>

  <div class="navbar-extras desktop-only">
    <div class="navbar-search">
      <input type="text" placeholder="Rechercher..." />
      <button class="search-btn">🔍</button>
    </div>
<button class="cart-btn" routerLink="/panier">
  🛒 <span class="badge">{{ cartItemCount }}</span>
</button>
  </div>

  <button class="navbar-toggle" (click)="toggleMenu()" [class.active]="isMenuOpen">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <div class="navbar-menu" [class.open]="isMenuOpen">
    <div class="mobile-content">
      
      <a routerLink="/" (click)="toggleMenu()" class="nav-link mobile-link">
        <span class="icon">🏠</span> Accueil
      </a>

      <a  (click)="toggleMenu()" class="nav-link mobile-link">
        <span class="icon">🛍️</span> Boutique
      </a>

      <a (click)="scrollToSection('apropos'); toggleMenu()" class="nav-link mobile-link">
        <span class="icon">⚜️</span> À propos
      </a>
      
      <a (click)="scrollToSection('contact'); toggleMenu()" class="nav-link mobile-link">
        <span class="icon">✉️</span> Contact
      </a>

      <div class="mobile-search-wrapper">
        <input type="text" placeholder="Rechercher un parfum..." />
        <button class="search-btn">🔍</button>
      </div>
       <button class="cart-btn mobile-cart">
        Mon Panier (0) 🛒
      </button>
    </div>
  </div>
</nav>